#header-info {
    
    background-color: #000000;
    color: #fff;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#header-info #right{
    display: flex;
    gap: 30px;
    margin-right: 60px;
}
#header-info #left{
    margin-left: 40px;
}
#header-info i{
    font-size: 18px;
    margin-right: 10px;
}

@media screen and (max-width:767px){
    
    #header-info {
        padding: 10px 10px;
        background-color: #000000;
        color: #fff;
        height: 50px;
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;
        
    }
    #header-info #right{
        display: flex;
        gap: 30px;
        margin-right: 60px;
    }
    #header-info #left{
        margin-left: 0px;
    }
    #header-info i{
        font-size: 12px;
        margin-right: 10px;
    }
}
@media screen and (min-width: 767px) and (max-width: 1023px){
    #header-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #000000;
        color: #fff;
        height: 40px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
    #header-info #right{
        display: flex;
        gap: 30px;
        margin-right: 60px;
    }
    #header-info #left{
        margin-left: 0px;
    }
    #header-info i{
        font-size: 12px;
        margin-right: 10px;
    }
}
@media screen and (min-width: 1024px){
    #header-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: #000000;
        color: #fff;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}